// fonts
@font-face {
  font-family: 'Crang';
  src: url(../font/Crang.ttf);
}
@font-face {
  font-family: 'GODOFWAR';
  src: url(../font/GODOFWAR.TTF);
}

$buttonBck: #ffffff;
$buttonBckHover: #ffffffd3;
$buttonBckActive: transparent;
$borderShadowButton: #252b77b6;
$buttonText: #262526;
$buttonTextHover: #ffffff;
$text: #FBFBFB;